*
{
    margin: 0;
    padding: 0;
}
.menu-bar
{
    min-height: 8%;
    background: #df563b;
}
.menu-bar img
{
    width: 150px;
}
.nav-link
{
    color: #FFF;
}
.nav-link:hover
{
    color: #000;
}
.active
{
    color: #000 !important;
}
.navbar-toggler .fa
{
    color: #FFF;
}
.navbar-toggler
{
    outline: none !important;
}
.banner
{
    min-height: 77%;
    color: #555;
}
.banner img
{
    margin-top: 1%;
    width: 100%;
    margin-right: 10%;
}
.info
{
    margin: 24% auto;
}
.info h1
{
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-size: 36px;
    font-family: 'Pacifico', cursive;
}
.info a
{
    width: 160px;
    color: #fff !important;
    text-decoration: none !important;
    padding: 10px 10px;
    margin: 5%;
    background: #25d366;
    display: inline-block;
}
.footer-widget
{
    min-height: 15%;
    background-image: linear-gradient(to top, #ff9800, #df563b);
    padding: 21px 0;
    display: inline-flex;
    color: #fff;
    
}
.footer-text
{
    font-size: 12px;
    padding-left: 25px;
    
}
.footer-widget .fa
{
    font-size: 25px;
}
.row
{
    margin: 0 !important;
}
.socials-icons
{
    margin: 0 20px;
}
.socials-icons fa
{
    font-size: 24px;
    padding: 10px;
}
@media only screen and (max-width:960px)
{
    .footer-widget
    {
        background-image: linear-gradient(#ff9800, #df563b)
    }
}
html, body {
    background:url("https://res.cloudinary.com/di5e3ww0o/image/upload/v1562009971/background_o0x27i.png") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
